* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    margin: 0;
    width: 100%;
}

h1 {
    text-align: center;
}

.container {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.body {
    padding: 1em;
}

.semi {
    margin-bottom: 2em;
}

.con1 {
    display: inline-block;
    width: 40%;
    margin-right: .5em;
    vertical-align: top;
}

.con1 label {
    float: right;
}

.con2 {
    display: inline-block;
    width: 40%;
}

.con2 .form-butt {
    margin-bottom: .5em;
}

.button {
    text-align: center;
}

.button button {
    background-color: plum;
    font-size: 1rem;
    padding: .5em;
    width: 20%;
}

.button button:hover {
    background-color: red;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {

}